%% can be simplified further once bear has been published to hex to simply the atom
%% 'bear'
{deps, [
    {bear, ".*", {git, "https://github.com/OpenRiak/bear", {branch, "nhse-develop-3.4"}}}
]}.

{xref_checks,
  [undefined_function_calls,undefined_functions,
    locals_not_used,
    deprecated_function_calls, deprecated_functions]}.

{erl_opts, [
            debug_info,
            {platform_define, "19|^2", use_rand},
            {platform_define, "18|19|^2", use_update_counter_4}
           ]}.

{profiles, 
    [{test, 
        [{deps, 
            [
             meck,
             {proper, ".*", {git, "https://github.com/OpenRiak/proper", {branch, "nhse-develop-3.4"}}}
    ]}]}]}.

{cover_enabled, true}.
